@import "../node_modules/bootstrap/scss/bootstrap";

html {
  min-height: 100vh;
}

body {
  color: black;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.col-xs-6  {
  text-align: center;
}

.col-md-4 {
  text-align: center;
}

.footer {
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-self: flex-end;
}

.shop {
  flex-grow: 1;
}

.link-secondary {
  width: auto;
  text-decoration: none;
}

.contactForm {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contactDet {
  min-width: 50% !important;
}
